.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2rem;
  
    
  }
  
  .authorAndDateContainer {
    display: flex;
    color: var(--gray-500);
    align-items: flex-start;
    font-size: 0.875rem;     
    margin-top: 1.5rem;
    
    div {
        margin-right: 1.5rem;
    }
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;  
        
        svg {
            font-size: 1.25rem;
            margin-right: 0.5rem
        }
    }
  }